<h1>Posts#show</h1>
<p>Find me in app/views/posts/show.html.erb</p>
<%= image_tag(@post.image.url(:large)) %>
<br>
<%= @post.description %>
<div class="link">
<%= link_to "Destroy", @post , method: :delete,confirm:"Are you sure?" %>
<%= link_to "Edit",edit_post_path(@post) %>
</div>